@import "../../styles/variables"
@import "../../styles/mixins"

.teachers
    width: 100%
    // margin-top: 80px

    &__title
        font-family: Mulish-Black
        font-size: 96px
        text-align: center
        color: #ffffff
        // padding-top: 100px

        @media (max-width: 769px)
            font-size: 40px

    &__cards
        display: flex
        width: 100%
        justify-content: center
        flex-wrap: wrap
        gap: 25px
        margin-top: 50px
        align-content: flex-start
        align-items: flex-start

        @media (max-width: 769px)
            flex-direction: column
            align-content: center
            align-items: center
            gap: 20px

    &__card
        flex: 1 1 calc(50% - 50px)
        max-width: 550px
        border-radius: 8px
        background: #6a994e
        height: auto
        display: flex
        border-radius: 15px 
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1)

        @media (max-width: 769px)
            width: 90%
            height: auto

    &__image
        width: 100%
        height: auto
        border-radius: 15px
        object-fit: contain !important
        // filter: drop-shadow(5px 5px 10px #000000)
        @media (max-width: 769px)
            width: 100%
            height: auto
