.about
    width: 100%
    padding: 40px 0

    &__title
        font-family: Mulish-Black
        font-size: 64px
        color: #FFFFFF
        text-align: center

        @media (max-width: 769px)
            font-size: 40px

    &__cards
        display: flex
        gap: 40px
        justify-content: center
        flex-wrap: wrap
        width: 100%
        padding: 0px 5px 0px 5px
        // padding-right: 10px

        @media (max-width: 769px)
            flex-direction: column
            align-items: center

    &__card
        position: relative
        width: 100%
        max-width: 540px
        height: 280px
        border-radius: 8px
        overflow: hidden
        display: flex
        background: #FFFFFF
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2)
        transition: transform 0.4s ease, box-shadow 0.3s ease
        cursor: pointer
        padding: 10px
        gap: 10px
        flex-direction: row // Text va rasmni yonma-yon joylashtirish

        &:hover
            transform: scale(1.05)
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4)

    &__cardImage
        object-fit: cover
        border-radius: 8px
        transition: opacity 0.3s ease, transform 0.4s ease
        z-index: 1
        margin-top: 20px
        margin-right: 15px

        &:hover
            opacity: 0.9
            transform: scale(1.05)

    &__cardContent
        width: 60% // Matnning o'lchamini sozlash
        text-align: left
        color: #000000 // Matn rangi qora

    &__cardTitle
        font-family: Mulish-Regular
        font-size: 24px

        @media (max-width: 769px)
            font-size: 20px

    &__desc
        font-family: Mulish-Medium
        font-size: 20px
        padding-left: 20px
        color: #000000
        display: block // Doimo ko'rinadigan qilish
        transition: opacity 0.5s ease

        @media (max-width: 769px)
            font-size: 16px

    &__list
        font-size: 13px
        font-family: Mulish-Regular
        display: flex
        flex-direction: column
        gap: 8px
        padding-top: 15px

    &__listtwo
        font-size: 13px
        font-family: Mulish-Regular
        display: flex
        flex-direction: column
        gap: 3px
        padding-top: 0px
    
    &__listthree
        font-size: 13px
        font-family: Mulish-Regular
        display: flex
        flex-direction: column
        gap: 15px
        padding-top: 15px

    &__desclast
        font-family: Mulish-Regular
        font-size: 16px
        padding-left: 20px
        color: #000000
        display: block // Doimo ko'rinadigan qilish
        transition: opacity 0.5s ease

        @media (max-width: 769px)
            font-size: 14px
