.modal
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0, 0, 0, 0.8)
  display: flex
  justify-content: center
  align-items: center
  animation: fadeIn 0.3s
  z-index: 1000

.modalContent
  position: relative
  width: 100%
  max-width: 1700px
  height: 98vh
  border-radius: 20px
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  overflow-y: auto
  display: flex
  flex-direction: column
  align-items: flex-end // Align content to the right
  color: white
  overflow: hidden

.closeButton
  position: absolute
  top: 10px
  right: 10px
  background: transparent
  border: none
  font-size: 20px
  cursor: pointer
  z-index: 1001

.info
  display: flex
  flex-direction: column
  margin-top: -38px
  overflow-y: scroll
  align-items: flex-end // Align items to the end (right side)
  padding: 40px // Add padding on the left and right
  width: 100% // Ensure it takes full width
  box-sizing: border-box // Include padding in width calculation

.title
  font-family: Mulish-Black
  font-size: 60px
  line-height: 55px
  color: #444A50
  width: 100%
  max-width: 800px

.desc
  font-family: Mulish-Medium
  font-size: 28px
  color: #444A50
  width: 100%
  max-width: 800px
  position: relative
  top: -50px

.biografy
  font-family: Mulish-Black
  font-size: 35px
  color: #444A50
  width: 100%
  max-width: 800px
  position: relative
  top: -90px

.bio
  font-family: Mulish-Regular
  font-size: 24px
  color: #444A50
  width: 100%
  max-width: 800px
  position: relative
  top: -130px

.biografytwo
  font-family: Mulish-Black
  font-size: 35px
  color: #444A50
  width: 100%
  max-width: 800px
  position: relative
  top: -140px

.biotwo
  font-family: Mulish-Regular
  font-size: 24px
  color: #444A50
  width: 100%
  max-width: 800px
  position: relative
  top: -180px

.biografythree
  font-family: Mulish-Black
  font-size: 35px
  color: #444A50
  width: 100%
  max-width: 800px
  position: relative
  top: -220px

.biothree
  font-family: Mulish-Regular
  font-size: 24px
  color: #444A50
  width: 100%
  max-width: 800px
  position: relative
  top: -250px