@import "../../styles/variables"
@import "../../styles/mixins"

.header
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  padding: 0px 0
  // color: white

  @media (max-width: 769px)
    padding: 30px 20px

  &__container
    display: flex
    align-items: center
    justify-content: space-between
    width: 90%
    padding: 40px
    border-radius: 20px
    // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
    margin-top: 50px
    position: relative
    overflow: hidden

    @media (max-width: 769px)
      flex-direction: column
      padding: 20px

  &__video
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-fit: cover
    z-index: 0  // Video to be behind text
    // opacity: 0.8 // Slight transparency for visibility of text

  &__text
    max-width: 700px
    text-align: left
    padding-right: 30px
    position: relative
    z-index: 1  // Text should appear above video

    @media (max-width: 769px)
      text-align: center
      padding-right: 0
      margin-bottom: 30px

  &__name
    font-size: 48px
    width: 100%
    max-width: 600px
    font-family: Mulish-Black
    margin-bottom: 20px
    transform: translateY(0)
    transition: transform 0.5s ease-in-out

    &:hover
      transform: translateY(-10px)
      transition: transform 0.5s ease-in-out

  &__desc
    font-size: 20px
    line-height: 1.5
    margin-bottom: 20px
    font-family: Mulish-Regular

  &__descone
    font-size: 28px
    line-height: 1.5
    margin-bottom: 20px
    font-family: Mulish-Regular

  .fadeIn
    animation: fadeIn 0.5s forwards

  .fadeOut
    animation: fadeOut 0.5s forwards

  @keyframes fadeIn
    from
      opacity: 0
      transform: scale(1.05)
    to
      opacity: 1
      transform: scale(1)

  @keyframes fadeOut
    from
      opacity: 1
      transform: scale(1)
    to
      opacity: 0
      transform: scale(1.05)
