@import "../../styles/variables"
@import "../../styles/mixins"

.header
    display: flex
    flex-direction: column
    justify-content: centera
    align-content: center
    align-items: center
    margin-top: 50px

    @media (max-width:769px)
        flex-direction: column
        justify-content: center
        padding-left: 40px

    &__container
        width: 80%
        height: 600px
        background: #0088cc
        border-radius: 12px
        padding-left: 60px
        display: flex
        padding-top: 50px

    &__title
        font-family: Roboto
        font-size: 96px
        color: #245D51
        text-align: center

        @media (max-width:769px)
            font-size: 40px

    &__name
        font-size: 48px
        font-family: Roboto-Bold
        // padding-top: 50px

    &__desc
        width: 100%
        max-width: 800px
        font-size: 28px
        font-family: Roboto-Regular

    &__numbers
        font-size: 34px
        font-family: Roboto-Bold
        padding-top: 150px
