.container
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 100px 0
  position: relative
  gap: 30px
  @media (max-width:769px)
    flex-direction: column
  @media (max-width:1500px)
    gap: 25px
    padding: 0px 10px 0px 10px

  &__content
    width: 100%
    max-width: 1140px
    height: 500px
    padding: 20px 30px
    border-radius: 20px !important
    background-size: cover
    background-repeat: no-repeat
    transition: 0.5s linear
    position: relative
    @media (max-width:769px)
      max-width: 85%
      background-size: cover
      background-position: center
      // backdrop-filter: blur(10px)
      background-position: right
      height: 350px
      margin-right: 20px
      padding-left: 15px // Telefon ekranida chapdan joy tashlash
      padding-right: 15px // Telefon ekranida o'ngdan joy tashlash

    .sliderControls
      display: flex
      justify-content: center
      gap: 20px
      position: absolute
      bottom: 20px
      left: 90px
      transform: translateX(-50%)
      @media (max-width:769px)
        display: none

      button
        background-color: rgba(0, 0, 0, 0.3)
        border: none
        border-radius: 50%
        color: white
        width: 60px // Tugma o'lchami
        height: 60px // Tugma o'lchami
        font-size: 24px // Tugma ikonkasi o'lchami
        cursor: pointer
        transition: background-color 0.3s, transform 0.3s // O'zgarishlar uchun animatsiya

        &:hover
          background-color: rgba(0, 0, 0, 0.6)
          transform: scale(1.1) // Hover paytida kattalashishi

        &:focus
          outline: none

  &__name
    color: #444A50
    font-family: Mulish-Black
    font-size: 35px
    max-width: 300px
    position: relative
    top: -10px
    @media (max-width:769px)
      font-size: 24px
      color: #000
      width: 90%
      text-shadow: 1px 1px 2px #fff
      // padding-right: 30px

  &__desc
    color: #444A50
    font-family: 'Mulish-Regular'
    font-size: 24px
    width: 100%
    max-width: 430px
    position: relative
    top: -30px
    margin-bottom: 20px // Tugmalar uchun joy
    @media (max-width:769px)
      font-size: 17px
      color: #000
      padding-top: 20px
      text-shadow: 2px 1px 2px whitesmoke
      padding-top: 60px


  &__review
    height: 500px
    border-radius: 20px
    width: 100%
    max-width: 500px
    background-image: url('/assets/img/bgpre.png')
    background-repeat: no-repeat
    background-size: cover
    padding: 20px
    position: relative
    @media (max-width:769px)
      display: flex
      flex-direction: column
      justify-content: center
      align-content: center
      max-width: 100%
      width: 85%
      align-items: center
      height: 350px
      // text-align: center
      padding-left: 15px // Telefon ekranida chapdan joy tashlash
      padding-right: 15px // Telefon ekranida o'ngdan joy tashlash
      // margin-left: 15px // Telefon ekranida ikki tomondan joy

    @media (max-width:1500px)
      margin-right: 20px

  &__revtitle
    color: #FFFFFF
    font-family: 'Mulish-Regular'
    font-size: 40px
    padding-left: 20px
    @media (max-width:769px)
      font-size: 32px
      display: flex
      flex-direction: column
      padding-left: 0
      // justify-content: center
      // align-content: center
      // align-items: center

  &__person
    font-family: 'Mulish-Black'
    font-size: 30px
    padding-left: 20px

    @media (max-width:769px)
      font-size: 26px
      // padding-left: 0
      // text-align: center

  &__date
    font-family: 'Mulish-Regular'
    font-size: 20px
    color: #fff
    position: relative
    padding-left: 20px
    top: -20px
    @media (max-width:769px)
      font-size: 18px

  &__text
    font-family: 'Mulish-Regular'
    font-size: 22px
    position: relative
    top: -15px
    width: 100%
    max-width: 400px
    padding-left: 20px
    @media (max-width:769px)
      font-size: 16px
      padding-right: 10px
      height: 130px
      overflow: hidden
      max-width: 350px
      // text-align: center

.title
  font-family: 'Mulish-Medium'
  font-size: 40px
  color: #444A50
  margin-bottom: 20px
  @media (max-width:769px)
    font-size: 28px
    color: #000
    // text-align: center

  @media (max-width: 769px)
    font-size: 35px

.leftButton, .rightButton
  font-size: 35px
  cursor: pointer
  transition: transform 0.4s ease, filter 0.4s ease // Animatsiya uchun o'zgarishlar

.leftButton:hover, .rightButton:hover
  transform: scale(1.1) // Kattalashtirish effekti
  filter: brightness(1.2) // Yorqinlik effekti
