.container
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 100px 0
  position: relative
  gap: 30px

  &__content
    width: 100%
    max-width: 1140px
    height: 500px
    padding-left: 60px
    border-radius: 20px !important
    background-size: cover
    background-repeat: no-repeat
    transition: 1s linear

  &__name
    color: #444A50
    font-family: Mulish-Black 
    font-size: 45px
    line-height: 40px
    width: 100%
    max-width: 100px

  &__desc
    color: #444A50
    font-family: Mulish-Regular
    font-size: 24px
    width: 100%
    max-width: 430px

  &__review
    height: 500px
    border-radius: 20px
    width: 100%
    max-width: 500px
    background-image: url('/assets/img/bgpre.png')
    background-repeat: no-repeat
    background-size: cover
    padding-left: 40px 

  &__revtitle
    color: #FFFFFF
    font-family: Mulish-Regular
    font-size: 40px

  &__person
    font-family: Mulish-Black
    font-size: 30px

  &__date
    font-family: Mulish-Regular
    font-size: 20px
    color: #fff
    position: relative
    top: -20px

  &__text
    font-family: Mulish-Regular
    font-size: 22px
    position: relative
    top: -15px
    width: 100%
    max-width: 400px

.title
  font-family: Mulish-Medium
  font-size: 40px
  color: #444A50
  margin-bottom: 20px

  @media (max-width: 769px)
    font-size: 35px

.swiper
  width: 100%
  max-width: 1200px
  height: auto
  padding: 40px 0
  display: flex
  justify-content: center
  align-items: center

.swiperSlideContent
  display: flex
  justify-content: center
  width: 100%
  background-size: cover
  background-repeat: no-repeat

  & > div
    flex: 1 1 45%
    margin: 0 10px
