@import "../../styles/variables"
@import "../../styles/mixins"

.container
    width: 90%
    height: 670px
    background-color: #444A50
    border-radius: 30px
    display: flex
    justify-content: space-between // Ikkita blokni yonma-yon joylashtirish
    align-items: center
    margin: 0 auto
    padding: 20px
    margin-bottom: 40px

    // For small devices (769px and below)
    @media (max-width: 769px)
        flex-direction: column // Elementlarni vertikal joylash
        height: auto
        padding: 10px
        border-radius: 0px
        padding-left: 20px
        width: 100%

.location
    width: 100%
    display: flex
    justify-content: space-between
    border-radius: 20px !important
    // For small devices (769px and below)
    @media (max-width: 769px)
        flex-direction: column
        align-items: center
        flex-direction: column-reverse
        padding: 0 20px // Left va right dan bir xil masofa

.maping
    @media (max-width:769px)
        position: relative
        left: 16px
        width: 100%
        height: 100%
        border-radius: 0px !important

.mapContainer
    width: 65%
    padding: 20px
    border-radius: 20px !important
    overflow: hidden

    @media (max-width:1500px)
        width: 450px !important
        margin-right: 40px
        height: 250px
        border-radius: 20px !important

    // For small devices (769px and below)
    @media (max-width: 769px)
        width: 380px !important
        // margin: 0
        height: 400px !important
        // border-radius: 12px !important
        // border-top-left-radius: 12px !important
        // overflow: visible
        margin-top: 20px
        position: relative
        overflow: hidden
        border-radius: 0px !important   
        margin-bottom: 20px
        // margin-left: -10px
        left: -17px
        // left: 10px

.textBlock
    margin-bottom: 20px

    // For small devices (769px and below)
    @media (max-width: 769px)
        // text-align: center
        margin-bottom: 15px
        margin-top: -35px
        padding: 0px 17px

.imageContainer
    width: 30%
    display: flex
    justify-content: center
    align-items: center

    & img
        object-fit: cover

    // For small devices (769px and below)
    @media (max-width: 769px)
        width: 100%
        margin-top: 20px
        padding: 0 20px

.imgback
    position: relative
    top: -25px
    right: 20px

    @media (max-width:1500px)
        top: 0px
        height: 700px
        width: 800px

    // For small devices (769px and below)
    @media (max-width: 769px)
        object-fit: auto
        width: 87%
        height: auto
        border-radius: 20px
        top: -20px

.name
    font-family: Mulish-Black
    font-size: 47px
    color: #ffffff

    // For small devices (769px and below)
    @media (max-width: 769px)
        font-size: 28px
        // text-align: center

.desc
    font-family: Mulish-Medium
    font-size: 32px
    color: #ffffff
    padding-bottom: 6px
    position: relative
    top: -15px
    width: 100%
    max-width: 480px

    // For small devices (769px and below)
    @media (max-width: 769px)
        font-size: 20px
        // text-align: center

.text
    font-family: Mulish-Regular
    font-size: 23px
    color: #ffffff

    // For small devices (769px and below)
    @media (max-width: 769px)
        font-size: 17px
        // text-align: center
.hiddenlink
    // display: none
    @media (max-width:768px)
        display: block